/* ======================================================
FILE: style.css
====================================================== */

.bg-custom {
  background-color: #2f3e46;
}

.btn-primary {
  background-color: #52796f;
  border-color: #52796f;
}

.btn-primary:hover {
  background-color: #354f52;
}

.card img {
  object-fit: cover;
}
